/* INCIO DAS CONFIGURAÇÕES GLOBAIS*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
html, body {
  height:100%;
  background: rgba(91, 67, 230, 0.493);  
}
div.clear{
  clear:both;
}
/* FIM DAS CONFIGURAÇÕES GLOBAIS*/


/*INICIO DO HEADER*/

header.header{
  border-bottom: 5px solid rgb(0, 0, 255);
  padding: 10px 2%;
  height:120px;
  background-color: rgba(255, 255, 0, 0.788);

}
header.header .logo{
  float:left;
  cursor: pointer;
}
header.header .desktop{
  float:right;
  position:relative; top: 25px; right:60px;
  border: 1px solid black;
}
header.header .container{
  width: 100%;
  height:100px;
  max-width:1280px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(240, 16, 16);
  margin: 0 auto;
  background-color: rgba(233, 233, 233, 0.966);
}
header.header .desktop ul{
  list-style: none;
  
}
header.header .desktop ul li {
  font-size: 1.4rem;
  padding: 0 25px;
  display: inline-block;
  /*border: 1px solid rgba(0, 0, 0, 0.932);*/
  cursor: pointer;
  background-color: rgb(123, 204, 204);
  border-radius: 20px;
  font-style: italic;
}
header.header .desktop ul li a{
  text-decoration: none;
  color: rgb(20, 83, 199);
}
header.header .desktop ul li:nth-child(1){
  color:red;
}
header.header .mobile{
  float:right;  
  border: 1px solid black;
  display:none; 
}

/* FIM DO HEADER*/


/* INICIO SECTION VENDAS */
section.vendas{
  min-height: 90vh;
  background-color: rgb(177, 163, 163);
  padding: 50px 0;
  border: 1px solid red;
}

.titulo-linha{
  text-transform: uppercase;
  font-size: 21px;;
  text-align: center;
  /*border: 1px solid black;*/
  margin: 0 auto;
  width:25vw;
  background-color: antiquewhite;
  position: relative; top:15px;
  font-style: italic;
  
  
}
.linha {
  border: 1.5px solid rgb(0, 0, 0);
  max-width:1400px;
  margin: 0 2%;
  background-color:black;
}


.content-venda{
  border: 1px solid blue;
  padding-top: 30px;
  margin-top: 20px;
}

.search1{
  padding-bottom: 10px;
  width:90%;
  border: 1px solid black;
}
.search1 h2{
  border: 3px solid rgb(146, 230, 20);
  padding: 0 10px;
  color: rgb(4, 29, 1);
  font-weight: 300;
  font-size:1.5rem;
  display:inline-block;

}

.search1 .barra-preco{
  width: 100%;
  height: 15px;
  background-color:rgb(255, 255, 255);
  margin-top:8px;
  border-radius: 15px;
  border: 1px solid blue;
  position: relative;

}

.barra-preco-fill{
  position: absolute; top:0; left:0;
  width: 30%;
  height: 13px;
  background: linear-gradient(0.25turn, #cdd5d8, #6c61aa, #172441);
  border-radius: 15px;
}

.pointer-barra{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color:rgb(35, 214, 214);
  border: 2px solid rgb(4, 141, 4);
  position:absolute; top:-3px; left:24%;
  cursor: pointer;
}
.valor-preco{
  border: 1px solid blue;
}
.valor-preco p{
  border: 1px solid black;
  font-size:0.8rem;
  
  
  
}
.valor-preco p:nth-child(1){
  color:azure;
   float: left;
}
.valor-preco p:nth-child(2){
  color:azure;
   float: right;
}

.search2{
  border: 1px solid black;
  margin-top:40px;
  
  
}

.search2 h2{
  border: 3px solid rgb(146, 230, 20);
  padding: 0 10px;
  color: rgb(4, 29, 1);
  font-weight: 300;
  font-size:1.5rem;
  display:inline-block;
  margin-bottom: 20px;
}

.form-venda-wraper{
  margin-top: 0 auto;
  font-size: 1rem;
  border: 1px solid black;
  /*display:inline-block;*/
}
.form-venda-wraper input{
  display: none;
}

.form-venda-wraper label{
  width:15px;
  height: 15px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  background-color:aliceblue;
  cursor: pointer;
  position:relative;
  /*display:none;*/
  

}
.circle{
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color:rgb(241, 161, 11);
  position: absolute; top:2px; left:2px;
  display:none;
  
}
/*
.form-venda-wraper input[type=checkbox]:selected + label .circle{
  display: block;
}*/

/* INICIO VITRINE VENDA*/
  .vitrine{
    float:left;
    width:70%;
    border: 1px solid black;
    
  }

  .vitrine .box{
    float:left;
    width:33.3%;
    margin-top:20px
    
  }

  .box.carros{
    text-align: left;
    background-color:rgba(91, 67, 230, 0.493);
    width:33.3%;
    float: left;
    border: 5px solid rgb(253, 252, 252);
    padding-bottom: 30px;
  }
  .box.carros div.img{
    width:100%;
    padding-top: 100%;
    border: 5px solid rgb(255, 255, 253);
  }
  .box.carros div.img.primeira{
    background-image: url('/projeto_05/images/img_01.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .box.carros div.img.segunda{
    background-image: url('/projeto_05/images/img_02.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .box.carros div.img.terceira{
    background-image: url('/projeto_05/images/img_03.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  /*section.veiculos-em-destaque div.container div.box.carros> a{
    background-color: rgb(101, 34, 168);
    text-decoration: none;
    color: rgb(219, 211, 211);
    padding: 2px 20px;
    text-align:center;
    margin-left: 15px;
    border: 3px solid white;
    border-radius: 5px;
  }*/
  .box.carros p{
    margin: 5px 0 15px 15px;
  }
  .box.carros> h2{
    margin: 15px;
  }
  .botao{
    background-color: rgb(101, 34, 168);
    text-decoration: none;
    color: rgb(219, 211, 211);
    padding: 5px 20px;
    text-align:center;
    margin:0 10px;
    border: 3px solid white;
    border-radius: 5px;
    display:block;
     
   }
   .botao:hover{
     background-color:rgb(149, 0, 168);
   }

/* FIM VITRINE VENDA*/

.sidebar {
  float: left;
  width: 30%;
  border: 3px solid rgb(212, 18, 11);
}

.container{
  border: 1px solid rgb(226, 11, 136);
  margin: 0 0px;
}
/* FIM SECTION VENDAS */


























/* INICIO FOOTER */
footer{
  padding: 40px 2%;
  border: 1px solid blue;
  background-color: wheat;
}
footer nav{
  float: left;
  border: 1px solid red;
  margin-left: 50px;
}
footer nav ul{
  list-style-type: none; 
  cursor: pointer;  
}
footer nav ul li{
  float: left;
  padding: 0 20px;  
}
footer nav ul> li> a{
  text-decoration: none;
  color: rgb(36, 83, 83); 
}
#venda1{
  color:red;
   
}
footer P{
  float: right;
  border: 1px solid red;
  margin-right: 50px;
}
/* FIM FOOTER */












/* INICIO MEDIA SCREEN */
@media screen and (max-width: 1024px){
  .vitrine{
    text-align: center;
  }
  .box.carros{  
    display:inline-block;
    float:none;
    width:90%; 
    text-align: center; 
  }
  
}
@media screen and (max-width: 810px){

  header.header .container{
    border-bottom: 5px solid red;
  }

header.header nav.desktop{
  display: none;    
}  
header.header nav.mobile{
  float:right; 
  border: none;
  display:inline-block;
  background-image: url('/projeto_05/images/menu.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width:50px;
  height:50px; 
  margin:30px 30px 0 0;
  }
header.header nav.mobile> ul{
  width:100%;  
  position:absolute; 
  top:110px; 
  left:0px;
  text-align: center;  
  background-color: rgb(41, 126, 201); 
  z-index: 1; 
  
}
header.header nav.mobile> ul li{
  cursor: pointer;
  list-style: none;  
  border: 1px solid black; 
  height:35px; 
  
}
header.header nav.mobile> ul li> a{
  text-decoration: none;
}
header.header nav.mobile> ul li:nth-child(1){
  color: red;
}
header.header nav.mobile> ul li:nth-child(1):hover{
  color: red;
  font-weight: 600;
  
}
footer nav {
  display: none;
  
}
footer{
  text-align: center;
}
footer p{
  float:none;
  margin: 0 auto;
}
.vitrine{
  width:100%;
  text-align: center;
}
.sidebar{
  width: 100% ;
  min-width: 300px;
  float:none;
  margin: 0 auto;
}
div.search1{
  width: 100%;
  padding: 0 15px;
  
}
.search2{
  text-align: center;
}

}
@media screen and (max-width:768px){

  .box.carros{  
    display:inline-block;
    float:none;
    width:80%; 
    text-align: center; 
  }
  
}  
@media screen and (max-width:500px){
  .box.carros{  
    width:95%;
  }
}

/* FIM MEDIA SCREEN */